<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客列表</title>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/my.css">


</head>

<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted  secondary stackable menu ">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i> 标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/image/head.jpg" alt="" class="ui avatar image">
                        CodeHero
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <a href="#" id="menuButton" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blog/add}" class="item">发布</a>
            <a href="#" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <div class="ui success container message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}">恭喜,操作成功</p>
        </div>

        <div  class="ui secondary mini segment form">
            <input type="hidden" name="page" >
            <div class="inline  fields">
                <div class="field">
                    <input id="title-search" type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                <!--/*-->
                                <div class="item" data-value="2">开发者手册</div>
                                <!--*/-->
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button  type="button" id="search-btn" class="ui compact teal basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </div>

        <div id="table-container">
            <table class="ui compact teal unstackable table" th:fragment="blogList">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">Java操作redis</td>
                    <td th:text="${blog.type.name}">Java</td>
                    <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                    <td th:text="${blog.published} ? '发布' : '草稿'"></td>
                    <td th:text="${blog.updateTime}">2020-7-8 09:55:22</td>
                    <td>
                        <a href="#" th:href="@{/admin/blog/update/{id}/input(id=${blog.id})}"
                           class="ui basic mini teal button">编辑</a>
                        <a href="#" th:href="@{/admin/blog/delete/{id}/input(id=${blog.id})}"
                           class="ui basic mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item"
                               th:unless="${page.first}">上一页</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item"
                               th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/blog/add}" class="ui mini right floated teal  basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>

<br/>
<br/>
<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted header">
                    <div class="item centered">
                        <div class="ui centered card" style="width:120px">
                            <img src="../../static/image/wechat.jpg" alt="" class="ui rounded image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: imissyou5201314@outlook.com</a>
                    <a href="#" class="item">QQ: 1959368673</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">杨烨</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    很抱歉，只做了一些微小的事情
                </p>
            </div>
        </div>

        <div class="ui inverted section divider"></div>

        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 CodeHero Designed by CodeHero</p>

    </div>

</footer>


<!--/*/<th:block th:replace="admin/_fragments :: script" >/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block >/*/-->

<script>
    $("#menuButton").click(function () {
        $(".m-item").toggleClass('m-mobile-hide')
    });

    $(".ui.dropdown").dropdown({
        on: 'hover'
    });


    //消息提示关闭初始化
    $(".message .close")
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        })


    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loadData();
    }


    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loadData();
    })

    function loadData() {
        $("#table-container").load(/*[[@{/admin/blog/search}]]*/"/admin/blog/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }

    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear');
            $('#title-search').val('')

        })


</script>
</body>
</html>