<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/my.css">
</head>

<body>

<!--导航-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted  secondary stackable menu ">
            <h2 class="ui teal header item">Code Hero</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon" ></i> 首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i> 标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i> 归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i> 关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input ">
                    <input type="text" placeholder="搜索">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="menuButton" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-line-block m-text-thin">30</h2> 个
                </div>
            </div>
        </div>


        <div class="ui attached segment m-padded-tb-large">

            <a href="#" class="ui teal basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>

            <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
             <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
             <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
             <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
             <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>
              <a href="#" class="ui  basic  left pointing label large m-margin-tb-tiny">
                Spring
                <div class="detail">6</div>
            </a>

        </div>

        <div class="ui teal top attached segment">
            <div class="ui  padded vertical segment m-padded-tb-large m-mobile-lr-clear ">
                <div class="ui mobile reversed  stackable grid ">
                    <div class="eleven wide padded column">
                        <h3 class="ui header">博客xxxx标题</h3>
                        <p class="m-text">博客内容 xxxxxx xxxxx 博客内容 xxxxxx xxxxx博客内容xxxxxx xxxxx博客内容xxxxxx
                            xxxxx博客内容 博客内容 xxxxxx xxxxx</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item ">
                                            <img src="../static/image/head.jpg" alt="" class="ui avatar image"/>
                                            <div class="content"><a href="#" class="header">CodeHero</a></div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-7-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon">200</i>
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin"
                                       target="_blank">分类</a>
                                </div>

                            </div>
                           <div class="row">
                               <div class="column">
                                   <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                   <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                   <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                               </div>

                           </div>


                        </div>

                    </div>


                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="http://placekitten.com/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>

            <div class="ui  padded vertical segment m-padded-tb-large m-mobile-lr-clear ">
                <div class="ui mobile reversed  stackable grid ">
                    <div class="eleven wide padded column">
                        <h3 class="ui header">博客xxxx标题</h3>
                        <p class="m-text">博客内容 xxxxxx xxxxx 博客内容 xxxxxx xxxxx博客内容xxxxxx xxxxx博客内容xxxxxx
                            xxxxx博客内容 博客内容 xxxxxx xxxxx</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item ">
                                            <img src="../static/image/head.jpg" alt="" class="ui avatar image"/>
                                            <div class="content"><a href="#" class="header">CodeHero</a></div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-7-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon">200</i>
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin"
                                       target="_blank">分类</a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="http://placekitten.com/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <div class="ui  padded vertical segment m-padded-tb-large m-mobile-lr-clear ">
                <div class="ui mobile reversed  stackable grid ">
                    <div class="eleven wide padded column">
                        <h3 class="ui header">博客xxxx标题</h3>
                        <p class="m-text">博客内容 xxxxxx xxxxx 博客内容 xxxxxx xxxxx博客内容xxxxxx xxxxx博客内容xxxxxx
                            xxxxx博客内容 博客内容 xxxxxx xxxxx</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item ">
                                            <img src="../static/image/head.jpg" alt="" class="ui avatar image"/>
                                            <div class="content"><a href="#" class="header">CodeHero</a></div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-7-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon">200</i>
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin"
                                       target="_blank">分类</a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="http://placekitten.com/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <div class="ui  padded vertical segment m-padded-tb-large m-mobile-lr-clear ">
                <div class="ui mobile reversed  stackable grid ">
                    <div class="eleven wide padded column">
                        <h3 class="ui header">博客xxxx标题</h3>
                        <p class="m-text">博客内容 xxxxxx xxxxx 博客内容 xxxxxx xxxxx博客内容xxxxxx xxxxx博客内容xxxxxx
                            xxxxx博客内容 博客内容 xxxxxx xxxxx</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item ">
                                            <img src="../static/image/head.jpg" alt="" class="ui avatar image"/>
                                            <div class="content"><a href="#" class="header">CodeHero</a></div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-7-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon">200</i>
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin"
                                       target="_blank">分类</a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="http://placekitten.com/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <div class="ui  padded vertical segment m-padded-tb-large m-mobile-lr-clear ">
                <div class="ui mobile reversed  stackable grid ">
                    <div class="eleven wide padded column">
                        <h3 class="ui header">博客xxxx标题</h3>
                        <p class="m-text">博客内容 xxxxxx xxxxx 博客内容 xxxxxx xxxxx博客内容xxxxxx xxxxx博客内容xxxxxx
                            xxxxx博客内容 博客内容 xxxxxx xxxxx</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item ">
                                            <img src="../static/image/head.jpg" alt="" class="ui avatar image"/>
                                            <div class="content"><a href="#" class="header">CodeHero</a></div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-7-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon">200</i>
                                        </div>

                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin"
                                       target="_blank">分类</a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                    <a href="" class="ui basic teal  left pointing label m-padded-mini m-text-thin ">标签</a>
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="http://placekitten.com/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column  grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>

</div>

<br/>
<br/>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted header">
                    <div class="item centered">
                        <div class="ui centered card" style="width:120px">
                            <img src="../static/image/wechat.jpg" th:src="@{/image/wechat.jpg}" alt="" class="ui rounded image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">xxx</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: imissyou5201314@outlook.com</a>
                    <a href="#" class="item">QQ: 1959368673</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">杨烨</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    很抱歉，只做了一些微小的事情
                </p>
            </div>
        </div>

        <div class="ui inverted section divider"></div>

        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 CodeHero Designed by CodeHero</p>

    </div>

</footer>



<!--/*/<th:block th:replace="_fragments :: script" >/*/-->
<script src="../static/lib/prism/prism.js"></script>
<script src="../static/lib/tocbot/tocbot.min.js"></script>
<script src="../static/lib/qrcode/qrcode.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
<!--/*/</th:block >/*/-->
<script>
    $("#menuButton").click(function () {
        $(".m-item").toggleClass('m-mobile-hide')
    });


</script>
</body>
</html>